/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.BannerSearchModal {

    & .input-container {
        width: 100%;
        display: flex;
        gap: 5px;
        justify-content: space-around;

        & input {
            flex: 10;
        }
        & select {
            flex: 5;
        }
        & span {
            flex: 1;
        }        
    }

    & hr {
        margin-top: 18px;
        margin-bottom: 16px;
    }

    & .images-container {
        width: 100%;
        
        & img.click {
            width: 100%;
            margin-bottom: 4px;
            border: 2px var(--hr-color) solid;
            border-radius: 5px;
        
            &:hover {
                opacity: .8;
                border: 2px red solid;
            }
    
            &:active {
                opacity: 1;
                border: 2px green solid;
            }
    
        }
    }

}

.DefaultScannerModal {
    & .section-header {
        margin-bottom: 5px;
    }

    & ul {
        margin-top: 5px;
    }

}

.GitPushModal {
    & input {
        width: 100%;
    }

    & .button-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

}


