/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

:root {
    --color-danger: #fb464c;
}

.text-input-class {
    width: 100%;
    margin-bottom: 10px;
}

.banner-image-selection {
    width: 100%;
    margin-bottom: 10px;
}

.git-modal-button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    & > .commit {
        background-color: var(--color-danger);
    }
    
    & > .close {
    }
}

img.click {
    border: 2px #0000 solid;
    border-radius: 5px;

    &:hover {
        opacity: .8;
        border: 2px red solid;
    }
    &:active {
        opacity: 1;
        border: 2px green solid;
    }
}

.MissingBannerModal {
    & h3 {
        margin-bottom: 5px;
    }
    & ul {
        margin-top: 5px;
    }
}